# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

# Physics 296 Files and directories
Lectures/Lecture-01.key/
Lectures/Lecture-02.key
Lectures/Lecture-03.key
Lectures/Lecture-04.key
Lectures/Lecture-05.key
Lectures/Lecture-06.key
Lectures/Lecture-07.key
Lectures/Lecture-08.key
Lectures/Lecture-13.key
Lectures/Lecture-14.key
Lectures/Notebooks/.DS_Store
Lectures/Notebooks/.ipynb_checkpoints/
Lectures/Notebooks/lists.png
Lectures/Pdfs/
Phys296-Syllabus.pdf
Phys296-syllabus-fall-2014.pdf
Phys296_textbook_form.pdf
SourceMaterial/
SphinxLectures/
syllabus.fdb_latexmk
syllabus.fls
syllabus.out
syllabus.pdf
syllabus.tex
term-projects.otl
things-to-change.otl
todo.otl
.DS_Store
Assignments/
Examples/
Exams/
Fall_2011/
Fall_2012/
Fall_2014/
Lectures/.DS_Store
Lectures/Chaos/
